<form  [formGroup]="studentlogin" class="col-lg-6 offset-lg-4" (ngSubmit)="Submit(studentlogin)">
    <div class="ms-3 mt-2 col-lg-6" >
      <label for="stud_name" class="form-label">Name</label>
      <div class="input-group">
        <input type="text" class="form-control" id="stud_name" placeholder="Ex.Joe" formControlName="studentname">
        <span class="input-group-text"><i class="bi bi-person"></i></span>
        <div *ngIf="f['studentname'].touched && f['studentname'].invalid" class="alert alert-danger">
          <div *ngIf="f['studentname'].errors && f['studentname'].errors['required']">Name is required.</div>
        </div>
      </div>
    </div>
  
  
    <div class="ms-3 mt-2 col-lg-6">
      <label for="stud_mobilenumber" class="form-label">Mobile number</label>
      <div class="input-group">         
        <input type="text" class="form-control" id="stud_mobilenumber" placeholder="918945789630" formControlName="studentmobile">
        <span class="input-group-text"><i class="bi bi-telephone"></i></span>

        <div *ngIf="f['studentmobile'].touched && f['studentmobile'].invalid" class="alert alert-danger">
          <div *ngIf="f['studentmobile'].errors && f['studentmobile'].errors['required']">Mobile Number is required.</div>
          
        </div>

      </div>
    </div>
  
  
    <div class="ms-3 mt-2 col-lg-6">
      <label for="stud_dob" class="form-label">Date of Birth</label>
      <div class="input-group">
        <input type="date" class="form-control" id="stud_dob" placeholder="02-03-2000" formControlName="studentdob">
      </div>
    </div>
  
  
    <div class="ms-3 mt-2 col-lg-6">
      <label for="stud_email" class="form-label">Email address</label>
      <div class="input-group">
        <input type="email" class="form-control" id="stud_email" placeholder="joe@hotmail.com" formControlName="studentemail">
        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
        <div *ngIf="f['studentemail'].touched && f['studentemail'].invalid" class="alert alert-danger">
          <div *ngIf="f['studentemail'].errors && f['studentemail'].errors['required']">Email is required.</div>
          <div *ngIf="f['studentemail'].errors && f['studentemail'].errors['email']">Enter valid email address.</div> 
        </div>
      </div>
    </div>
  
    <div class="ms-3 mt-2 col-lg-6">
      <label for="stud_password" class="form-label">Password</label>
      <div class="input-group">
        <input type="password" class="form-control" id="stud_password" formControlName="studentpassword">
        <span class="input-group-text"><i class="bi bi-lock"></i></span>
        <div *ngIf="f['studentpassword'].touched && f['studentpassword'].invalid" class="alert alert-danger">
          <div *ngIf="f['studentpassword'].errors && f['studentpassword'].errors['required']">Password is required.</div>
          <div *ngIf="f['studentpassword'].errors && f['studentpassword'].errors['minlength']">Password should be minimum 8 characters</div>
        </div>
        </div>
    </div>
  
  
    <div class="ms-3 mt-2 form-check">
      <input type="checkbox" class="form-check-input" id="stud_tandc">
      <label class="form-check-label" for="exampleCheck1">Accept Terms and Conditions</label>
    </div>
  
  
    <div class="ms-3 mt-2">
      <button type="submit" class="btn btn-primary" >Signup</button>
    </div>
    
  </form>