<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
   <!--
      SignUp
      <a class="btn btn-danger ms-auto" href="#" role="button" [routerLink]="['/register']">
        <i class="bi bi-code-square"> </i> Signup
      </a>

      Login 
      <a class="btn btn-danger ms-2" href="#" role="button" [routerLink]="['/login']">
        <i class="bi bi-person"> </i> Login
      </a>
    -->

      <!--Home-->
      <a class="btn btn-danger ms-2" href="#" role="button">
         <i class="bi bi-house"> </i> Home
      </a>
    </div>
  </nav>