
<form [formGroup]="loginform" (ngSubmit)="onSubmit(loginform)">
  <div class="row justify-content-center mt-5">

    <div class="col-md-4">
    </div>

    <div class="form-group col-md-4" >
      <label for="username">Login As</label>

      <select class="form-select" formControlName="logoption">
        <option disabled selected value> -- Select an option -- </option>
        <option value="admin">Admin</option>
        <option value="registrar">Registrar</option>
        <option value="student">Student</option>
      </select>

      
      <div *ngIf="f['logoption'].touched && f['logoption'].invalid" class="alert alert-danger">
          <div *ngIf="f['logoption'].errors && f['logoption'].errors['required']">must select one</div>
      </div>
      </div>

    <div class="col-md-4">
    </div>

  </div>
  
  

    <div class="row">

      <div class="col-md-4">
      </div>

      <div class="form-group col-md-4" >
        <label for="username">UserName</label>
         
        <div class="input-group">
         <input type="text" class="form-control" id="uname" placeholder="Ex.Joe@gmail.com" formControlName="username">
         <span class="input-group-text"><i class="bi bi-person"></i></span>
        </div>

        <div *ngIf="f['username'].touched && f['username'].invalid" class="alert alert-danger">
        <div *ngIf="f['username'].errors && f['username'].errors['required']">Email is required.</div>
        <div *ngIf="f['username'].errors && f['username'].errors['email']">Enter valid email address.</div>
      
      </div>
    

      </div>

      <div class="col-md-4">
      </div>

    </div>

    <div class="row">
        <div class="col-md-4">
        </div>

        <div class="form-group col-md-4">

          <label for="password">Password</label>

          <div class="input-group">
          <input type="password" class="form-control" id="pwd" formControlName="password">
          <span class="input-group-text"><i class="bi bi-lock"></i></span>
          </div>

          <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
          <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required.</div>
          <div *ngIf="f['password'].errors && f['password'].errors['minlength']">Password should be minimum 8 characters</div>
        </div>
      
          
        </div>

        <div class="col-md-4">
        </div>
    </div>



  <div class="row">
      <div class="col-md-4">
      </div>

      <div class="form-group col-md-4">

        <label for="Signup">New Student:</label>
        <a id="forgot-link" [routerLink]="['/studentsignup']">SignUp?</a>
      </div>

      <div class="col-md-4">
      </div>
  </div>
   
    <br>

    <div class="row">
        <div class="col-md-3">
        </div>

        <div class="form-group col-md-6">
        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-2">

            <button type="submit" class="btn btn-primary" [disabled]="loginform.invalid">Login</button> 
          </div>
          <div class="col-md-5"></div>
        </div> 
        </div>

        <div class="col-md-3">
        </div>
      </div>

</form>