<form class="col-lg-6 offset-lg-4">
    <div class="ms-3 mt-2 col-lg-6" >
      <label for="reg_name" class="form-label">Name</label>
      <div class="input-group">
        <input type="text" class="form-control" id="reg_name" placeholder="Ex.Joe">
        <span class="input-group-text"><i class="bi bi-person"></i></span>
      </div>
    </div>


    <div class="ms-3 mt-2 col-lg-6">
      <label for="reg_mobilenumber" class="form-label">Mobile number</label>
      <div class="input-group">         
        <input type="text" class="form-control" id="reg_mobilenumber" placeholder="918945789630">
        <span class="input-group-text"><i class="bi bi-telephone"></i></span>
      </div>
    </div>


    <div class="ms-3 mt-2 col-lg-6">
      <label for="reg_dob" class="form-label">Date of Birth</label>
      <div class="input-group">
        <input type="date" class="form-control" id="reg_dob" placeholder="02-03-2000">
      </div>
    </div>


    <div class="ms-3 mt-2 col-lg-6">
      <label for="reg_email" class="form-label">Email address</label>
      <div class="input-group">
        <input type="email" class="form-control" id="reg_email" placeholder="joe@hotmail.com">
        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
      </div>
    </div>

    <div class="ms-3 mt-2 col-lg-6">
        <label for="reg_exp" class="form-label">Year Of Experience</label>
        <div class="input-group">
          <input type="text" class="form-control" id="reg_exp">
        </div>
    </div>
  

    <div class="ms-3 mt-2 col-lg-6">
      <label for="reg_password" class="form-label">Password</label>
      <div class="input-group">
        <input type="password" class="form-control" id="reg_password">
        <span class="input-group-text"><i class="bi bi-lock"></i></span>
      </div>
    </div>


    <div class="ms-3 mt-2 form-check">
      <input type="checkbox" class="form-check-input" id="reg_tandc">
      <label class="form-check-label" for="exampleCheck1">Accept Terms and Conditions</label>
    </div>


    <div class="ms-3 mt-2">
      <button type="submit" class="btn btn-primary" [routerLink]="['/admin']">Add</button>
    </div>
    
  </form>